services:
  db:
      image: postgres:16.3
      container_name: versiy-postgres-db
      env_file:
      - .env
      environment:
        POSTGRES_DB: ${POSTGRES_DB}
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      volumes:
        - db-data:/var/lib/postgresql/data
      ports:
      - "${POSTGRES_PORT}:5432"

  app:
      build:
        context: .
        dockerfile: dockerfile
      container_name: versiy-application
      env_file:
      - .env
      volumes:
      - ./.env:/app/.env:ro
      ports:
      - "${APP_PORT}:3000"
      depends_on:
        - db

volumes:
  db-data: