version: '3.8'

services:
  db:
      image: postgres:16.3
      container_name: versiy-postgres-db
      env_file:
      - .env
      environment:
        POSTGRES_DB: ${POSTGRES_DB}
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      volumes:
        - db-data:/var/lib/postgresql/data
      ports:
      - "${POSTGRES_PORT}:5432"

volumes:
  db-data: