services:
  app:
    build:
      context: .
      dockerfile: dockerfile.dev
    env_file:
    - .env
    volumes:
      - .:/app
    command: air
    ports:
    - "${APP_PORT}:3000"

  db:
      image: postgres:16.3
      container_name: versiy-postgres-db
      env_file:
      - .env
      environment:
        POSTGRES_DB: ${POSTGRES_DB}
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      volumes:
        - db-data:/var/lib/postgresql/data
      ports:
      - "${POSTGRES_PORT}:5432"

volumes:
  db-data: